ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

/*TODO1 - Element Selector */
p{
  color: red;
}

/*TODO2 -  Class Selector */
.note{
font-size: 20px
}

/*TODO3 ID Selector */
#id-selector-demo{
  color: green;
}

/*TODO4 - Attribute Selector */
li[value="4"]{
  color: blue;
}

/*TODO5 -  Universal Selector */
*{
  text-align: center;
}